# Evolution API Configuration
EVOLUTION_API_URL=https://sua-evolution-api.com:8080
EVOLUTION_API_KEY=sua-api-key-aqui

# Server Configuration
PORT=3001
NODE_ENV=development

# CORS Configuration
CORS_ORIGIN=https://seu-frontend.com,http://localhost:5173

# Webhook (N8N)
N8N_WEBHOOK_URL=https://n8n-n8n-start.kof6cn.easypanel.host/webhook-test/96d2fa2c-a2da-4d47-9412-12921701be00

# Security
API_SECRET=sua-chave-secreta-aqui 