# Evolution API Configuration
EVOLUTION_API_URL=https://sua-evolution-api.com:8080
EVOLUTION_API_KEY=sua-api-key-aqui

# Server Configuration
PORT=3001
NODE_ENV=development

# CORS Configuration
CORS_ORIGIN=https://seu-frontend.com,http://localhost:5173

# Webhook (N8N)
N8N_WEBHOOK_URL=https://n8n-n8n-start.kof6cn.easypanel.host/webhook/b1b11d27-2dfa-42a6-bbaf-b0fa456c0bae

# Security
API_SECRET=sua-chave-secreta-aqui 